@model IEnumerable<BazarStore.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="alert alert-primary">All Categories</h3>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">@TempData["success"]</div>
}

<p>
    @Html.ActionLink("Add new Category", "Create", null ,new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="~/Images/Uploads/Categories/@item.CategoryID/@item.ImageUrl" height="50" width="50"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
